<header>
    <div class="img-head">
        <div id="img"></div>
        <div class="head-names">
            <h3>Anıl Gündüz</h3>
            <p>@anil.gunduuz</p>
        </div>
    </div>
    <div class="routers">
        <ul>
            <li>
                <a routerLink="">
                    <i class="fa-solid fa-table-cells"></i>
                    Genel
                </a>
            </li>
            <li>
                <a routerLink="">
                    <i class="fa-solid fa-key"></i>
                    Parola
                </a>
            </li>
            <li>
                <a routerLink="">
                    <i class="fa-solid fa-paper-plane"></i>
                    Davet Et
                </a>
            </li>
            <li class="active">
                <a routerLink="/billing">
                    <i class="fa-solid fa-wallet"></i>
                    Fatura
                </a>
            </li>
            <li>
                <a routerLink="">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    Uygulamalar
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a routerLink="">
                    <i class="fa-solid fa-door-open"></i>
                    Çıkış
                </a>
            </li>
        </ul>
    </div>
</header>