<section>
    <h2>Fatura</h2>
    <div class="bill">
        <div class="bill-left">
            <div class="left-name">
                <h3>Geçmiş Faturalar</h3>
                <p>Faturalarını yönet ve görüntüle</p>
            </div>
            <div class="left-table">
                <table>
                    <tr>
                        <th>Tarih</th>
                        <th>Tür</th>
                        <th>Doküman</th>
                    </tr>
                    <tr>
                        <td>Ağustos,22</td>
                        <td>Tahvil</td>
                        <td><button>Download</button></td>
                    </tr>
                    <tr>
                        <td>Temmuz,21</td>
                        <td>Hisse Senedi</td>
                        <td><button>Download</button></td>
                    </tr>
                    <tr>
                        <td>Haziran,20</td>
                        <td>Hisse Senedi</td>
                        <td><button>Download</button></td>
                    </tr>
                    <tr>
                        <td>Ağustos,01</td>
                        <td>Elektrik</td>
                        <td><button>Download</button></td>
                    </tr>
                </table>
            </div>
            <a href="#">Load more</a>
        </div>
        <div class="bill-right">
            <div class="right-align">
                <div class="right">
                    <h6>Planın</h6>
                    <h3>Pro Lisansı</h3>
                    <p>Yenilenme tarihi, 3 ay sonra</p>
                    <button>Üyeliği İptal Et</button>
                </div>
                <div class="right">
                    <h6>Top 10</h6>
                    <h3>Fatura Listesi</h3>
                    <p>Yenilenme tarihi, 1 ay sonra</p>
                    <button>Faturaları Gör</button>
                </div>
            </div>
            <div class="right-align">
                <div class="right">
                    <h6>Tutar</h6>
                    <h3>Fatura Tutarı</h3>
                    <p>Yenilenme tarihi, 1 ay sonra</p>
                    <button>Tutara Bak</button>
                </div>
                <div class="right">
                    <h6>Lorem.</h6>
                    <h3>Lorem, ipsum.</h3>
                    <p>Yenilenme tarihi, 3 ay sonra</p>
                    <button>Lorem.</button>
                </div>
            </div>

        </div>
    </div>
    <div class="payment">
        <h3>Ödeme Çeşitleri</h3>
        <p>Faturalarını yönet ve görüntüle</p>
        <div>
            <div class="pay-left">
                <i class="fa-solid fa-money-check"></i>
                <h5>Visa son numaraları 2255</h5>
            </div>
            <div class="pay-right">
                <button>Sil</button>
            </div>
        </div>
    </div>
</section>